
<html>
<head>
<title>About the Team </title>
</head>
<body>

<h1>Team members</h1>
<ul>
  <li>Pushkar Patel</li>
  <li>Siddharth Tiwari</li>
  <li>Kishan Dhakkan</li>
  <li>Siddharth Mani Tiwari</li>
  <li>Swasti Khurana</li>
</ul>

<h2>How we started?</h2>
<p>We are a group of development enthusiasts, hoping to give something back to society. Our hostel being remote, medical vehicle services are almost non existent here. When one of our friends met an accident and faced a problem, we decided that this problem needs to be solved. We started out by seeing the concept of distributed computing, where companies like microsoft use lakhs of dummy terminals across the world to perform computations. When you think about it, all the vehicles that pass by an accident are potential dummy terminals and can be used to perform the calculations of making the victim reach medical services. Moreover, the technology to implement this is already in place, being used by dating apps like happn all the time. This is us, trying to bridge the gap between first knowers and first responders of an accident.</p>


</body>
</html>