
<div class="button_cont" align="center"><a class="example_b" target="_blank" rel="nofollow noopener">Notify others nearby</a></div>

<dl style="list-style-type:circle;">
  <dt><b> Eye hospital</b></dt>
  <dd>- 875, Rd 6 Sector 21,Gandhinagar, 382021</dd>
  <dd>- distance:23.9 km <a href="https://www.google.com/maps/dir/Sabar+Institute+of+Technology+For+Girls,+Highway,+Tajpur,+Ahmedabad,+Gujarat/Eye+Hospital,+Road+Number+6,+Sector+21,+Gandhinagar,+Gujarat/@23.2958567,72.6617848,12z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x395dcdff68daa6ad:0x8905a28103745a3c!2m2!1d72.7998547!2d23.3652409!1m5!1m1!1s0x395c2b0b59f9ebbd:0x4517c95dff131805!2m2!1d72.6679821!2d23.2339418">directions</a>
</dl>

<dl style="list-style-type:circle;">
  <dt><b> Starling hospital </b></dt>
  <dd>- Lavarpur, Gujarat, 382355</dd>
  <dd>- distance:26.5 km <a href="https://www.google.com/maps/dir/Sabar+Institute+of+Technology+For+Girls,+Highway,+Tajpur,+Ahmedabad,+Gujarat/starling+hospital,+Lavarpur,+Gujarat/@23.272827,72.6799419,12z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x395dcdff68daa6ad:0x8905a28103745a3c!2m2!1d72.7998547!2d23.3652409!1m5!1m1!1s0x395c2ab02fffffff:0x82a44116c4eea1f2!2m2!1d72.70011!2d23.1814404">directions</a>
</dl>

<dl style="list-style-type:circle;">
  <dt><b> Sanidhya multispeciality hospital </b></dt>
  <dd>- 2nd floor, Satyam complex, village road, Pethapur cross road, Gandhinagar, 382610</dd>
  <dd>- distance:28.1 km <a href="https://www.google.com/maps/dir/Sabar+Institute+of+Technology+For+Girls,+Highway,+Tajpur,+Ahmedabad,+Gujarat/SANIDHYA+MULTISPECIALITY+HOSPITAL+%26+TRAUMA+CENTRE,+Pethapur,+Gandhinagar,+Gujarat/@23.2958567,72.6606906,12z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x395dcdff68daa6ad:0x8905a28103745a3c!2m2!1d72.7998547!2d23.3652409!1m5!1m1!1s0x395c2c842980accb:0xbc619129a0ca3825!2m2!1d72.668511!2d23.266129">directions</a>
  <dd>- contact number: <a href="tel:">07932214828</a>
</dl>


<div class="button_cont" align="center"><a class="emer_b" href="tel:108" target="_blank" rel="nofollow noopener">call emergency number</a></div>
